<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>姓名案例_method实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <div id="root">
        姓:<input type="text" v-model="firstName"></input><br/>
        名:<input type="text" v-model="lastName" ></input><br/>
        全名: <span>{{fullName()}}</span>
    </div>


    <script>

        Vue.config.productionTip = false

        new Vue({
            el: '#root',
            data() {
                return {
                    name: 'shake',
                    code: 123,
                    firstName:'张',
                    lastName: '三'
                }
            },
            methods: {
                fullName(){
                    return this.firstName.slice(0,3) + '-' + this.lastName;
                }
            },
        })
    </script>


</body>

</html>